<h3>Post a Link!</h3>

<form action="/create" method="post" id="create">

    <div class="name-box">
    <label for="name">Name:     </label>
    <input type="text" id="name" name="name" required>
    </div>

    <div class="location-box">
      <label for="location">Location:   </label>
      <input type="text" id="location" name="location" required>
    </div>

    <div id="descrption_box">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" style="width:400px">
    </div>

    <input type="submit" id="submit" value=" - FINISHED - " style="width:350px">
</form>

<div class="transfer"><a href="/articles">Back to Home</a></div>
